.container{
    width: 100vw;
    height: 100vh;
    background:url(../images/start\ background.jpg) no-repeat center center/cover ;

}
.container .second-option{
    width: 40vw;
    display: none;
}
.container .second-option .second{
    width:100%;
}
.container .second-option .second:first-child{
    margin-right: 1vw !important;
}
.guideance{
    background: white;
    border: 5px solid gray;
    box-shadow: inset 3px 3px teal ,inset -3px -3px teal;
    box-shadow:  3px 3px teal , -3px -3px teal;
    text-align: center;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    overflow: auto;
    font-size: 1.5rem;
    font-family: minecraft;
    /* position: absolute; */
}