body{
    background:url(../images/start\ background.jpg)no-repeat center center/cover ;
    height: 100vh;
    overflow-y: hidden;
}
@font-face {
    font-family: minecraft;
    src: url(../font/Minecraft.ttf);
}
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.flex-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* start Screen */
.main-btn{
    font-family: minecraft;
    font-size: 1.3rem;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #5B5B5D;
	border: 2px solid #000;
    background: #999 url('https://i.ibb.co/rb2TWXL/bgbtn.png') center /cover;
    box-shadow: inset -2px -4px #0006, inset 2px 2px #FFF7;

}
.main-btn:hover{
    color: #FFFFA0;
    cursor: pointer;
    background: rgba(100, 100, 255, .45);
}
.container .background-div{
    margin-bottom: 1rem;
    position: relative;
    background: #999 url('https://i.ibb.co/rb2TWXL/bgbtn.png') center /cover;
    width:40vw;
    height: 7vh;
}
.inventory{
    display: grid;
    position: fixed;
    top: 0;
    z-index: 10;
}
.inventory-big{
    grid-template-columns: repeat(9,4vw);
    height: 7.5vh;

}
.inventory-small{
    grid-template-columns: repeat(9,4vw);
    height: 7.5vh;

}
@media (max-height:800px){
    .health-bar{
        width: 4vw;
        grid-template-rows: repeat(10,6vh);
    }
}
@media (max-height:540px){
    .inventory-big{
        height: 10vh;
        grid-template-columns: repeat(9,4vw) !important;
    }
    .inventory-small{
        height: 5vh !important;
        grid-template-columns: repeat(9,3vw) !important;
    }
    #have-access{
        height: 10vh;
        font-size: 1rem;
    }
}
@media only screen and (min-height:541px) and (max-height:750px){
    .board{
        height: 80vh;
        border: 5px solid gray;
    }
    body{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .inventory{
        background-color: gray;
        box-shadow: inset none;
    }
    .inv-item{
        border: none !important;
    }
    .inventory-big{
        grid-template-columns: repeat(9,5vw) !important;
    }
    .inventory-small{
        height: 7vh !important;
    }
}
@media (max-width:1200px) {
    .inventory-big{
        grid-template-columns: repeat(9,7vw);
    }
    .inventory-small{
        grid-template-columns: repeat(9,5vw);
        height: 6vh;
    }
    .guideance{
        font-size: 1rem;
    }
}
@media (max-width:900px) {
    .inventory-big{
        grid-template-columns: repeat(9,7vw);
    }
    .inventory-small{
        grid-template-columns: repeat(9,5vw);
        height: 5vh;
    }
}

.inv-item{
    border: 3px solid gray;
    box-shadow: inset 2px 2px rgb(77, 77, 77),2px 2px #3f3f3f;
    height: 100%;
    width: 100%;
}
.inv-item:hover{
    background: darkcyan !important;
    cursor: pointer;
}
.taken-inv-item{
    width: 100%;
    height: 100%;
}
.outline{
    outline: 4px solid black;
}
.picked{
    background: darkcyan;
}