body{
    background:url(../images/start\ background.jpg)no-repeat center center/cover ;
}
@font-face {
    font-family: minecraft;
    src: url(../font/Minecraft.ttf);
}
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.flex-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* start Screen */
.main-btn{
    font-family: minecraft;
    font-size: 1.3rem;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #5B5B5D;
	border: 2px solid #000;
    background: #999 url('https://i.ibb.co/rb2TWXL/bgbtn.png') center /cover;
    box-shadow: inset -2px -4px #0006, inset 2px 2px #FFF7;

}
.main-btn:hover{
    color: #FFFFA0;
    cursor: pointer;
    background: rgba(100, 100, 255, .45);
}
.container .background-div{
    margin-bottom: 1rem;
    position: relative;
    background: #999 url('https://i.ibb.co/rb2TWXL/bgbtn.png') center /cover;
    width:40vw;
    height: 7vh;
}
